div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(139, 0, 0, 0.411);
}
body{
    background-image: url("/src/assets/pictures/fondocomic.jpg");
}
